@import './../../variables.scss';

.button {
  background-color: $blue;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $main-font;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;

  &.white {
    background-color: $gray-light;
    color: $gray;

    &:after {
      background-color: $white-dark;
    }
  }

  &.link {
    text-decoration: none;
  }

  &:after {
    content: "";
    background-clip: padding-box;
    background-color: $blue-dark;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &:hover:not(:disabled) {
    filter: brightness(1.1);
  }

  &:disabled {
    cursor: auto;
  }
}
