@import './../../variables.scss';

.radio-control_container {
  display: flex;
  flex-direction: column;

  label {
    margin-left: -20px;
    margin-bottom: 8px;
    font-family: $main-font;
    color: $white;
  }

  input[type=range]{
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 20px;
    transition: background 450ms ease-in;

    &:disabled {
      cursor: default;

      &::-webkit-slider-thumb{
        background: $gray;
      }
    }

    &:hover:not(:disabled) {
      filter: brightness(1.1);
    }
  }

  input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 300px;
    height: 8px;
    border: none;
    border-radius: 20px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $blue;
    margin-top: -4px;

    &:disabled {
      background: $gray;
    }
  }
}
